/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media(prefers-color-scheme: light) {
  :root {
    --bg--color: #ffeef6;
    --text--color: #353430;
    --accent--color: #ff8dcb;
    --brand--color: #ffc2e6;
    --bg--image: url(../images/cover-image-light.png);
  }

  .header_rec {
    display: none;
  }

  .decorated-zone::before {
    border-top: 1px solid var(--decoration--color, #353430);
    border-right: 1px solid var(--decoration--color, #353430);
  }

  .decorated-zone::after {
    border-bottom: 1px solid var(--decoration--color, #353430);
    border-left: 1px solid var(--decoration--color, #353430);
  }

  .header__theme-menu-button {
    color: var(--text--color, #353430);
  }

  .header__theme-menu-button_active {
    outline: 1px solid var(--decoration--color, #353430);
  }

  .title-decor {
    background-color: var(--accent--color, #ff8dcb);
    color: var(--text--color, #353430);
  }

  .question {
    color: var(--text--color, #353430);
}

.footer::before {
  border-top: 1px solid var(--decoration--color, #353430);
  border-right: 1px solid var(--decoration--color, #353430);
}

.footer::after {
  border-bottom: 1px solid var(--decoration--color, #353430);
  border-left: 1px solid var(--decoration--color, #353430);
}
}

:root.theme-light {
  --bg--color: #ffeef6;
  --text--color: #353430;
  --accent--color: #ff8dcb;
  --brand--color: #ffc2e6;
  --bg--image: url(../images/cover-image-light.png);
  --decoration--color: #353430;
}

.theme-light .page {
  background-color: var(--bg--color, #ffeef6);
  color: var(--text--color, #353430);
  background-image: var(--bg--image, url(../images/cover-image-light.png));
}

.theme-light .header_rec {
  display: none;
}

.theme-light .decorated-zone::before {
  border-top: 1px solid var(--decoration--color, #353430);
  border-right: 1px solid var(--decoration--color, #353430);
}

.theme-light .decorated-zone::after {
  border-bottom: 1px solid var(--decoration--color, #353430);
  border-left: 1px solid var(--decoration--color, #353430);
}

.theme-light .header__theme-menu-button {
  color: var(--text--color, #353430);
}

.header__theme-menu-button:hover {
  border: 1px solid #32312d66;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent--color, #353430);
}

.theme-light .header__theme-menu-button_active {
  outline: 1px solid var(--decoration--color, #353430);
}

.theme-light .title-decor {
  background-color: var(--accent--color, #ff8dcb);
  color: var(--text--color, #353430);
}

.theme-light .question {
  color: var(--text--color, #353430);
}

.link-word:hover {
  border-bottom: 1px solid var(--text--color, 353430)
}

.link-word:focus-visible {
  outline: 1px solid var(--text--color, 353430);
}

.theme-light .footer::before {
  border-top: 1px solid var(--decoration--color, #353430);
  border-right: 1px solid var(--decoration--color, #353430);
}

.theme-light .footer::after {
  border-bottom: 1px solid var(--decoration--color, #353430);
  border-left: 1px solid var(--decoration--color, #353430);
}