:root {
--bg--color: #000028;
--text--color: #f1b2ce;
--accent--color: #ff0070;
--brand--color:#db00ff;
--bg--image: url(../images/cover-image-dark.png);
--main--font--family: 'IBM Plex mono';
--accent--text--color: #000028;
}
